<div ng-include="'components/navbar/navbar.html'"></div>
<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4" ng-controller="NewPollCtrl">
  <h1>New Poll</h1>
  <form>
    <label>Poll question</label>
    <input class="form-control" name="question" type="text" id="name" placeholder="{{question}}">
    <label>Options</label>
    <div class="input-group" ng-repeat="option in options track by $index">
      <input class="form-control" type="text" placeholder= "{{option}}" >
      <span class="input-group-addon" ng-click="removeOption($index)">Remove</span>
    </div>
    <div id="add-btn" class="btn btn-default" ng-click="addOption()">Add option</div>
    <div id="submit-btn" class="btn btn-primary">Submit</div>

  </form>
</div>
