



h1 {
  text-align: center;
}


form {
  .input-group {
    margin-bottom: 10px;
  }
  label {
    margin-top: 20px;
    margin-bottom: 5px;
  }
}

#add-btn {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

#submit-btn {
  display: block;
}
