<div id="poll">
  <div ng-include="'components/navbar/navbar.html'"></div>
  <div class="container clearfix">
    <div id="title-card">
      <h1 id="poll-title">{{poll.question}}</h1>
      <h2 id="poll-author">created by {{poll.author.name}}</h2>
    </div>
    <div class="row">
        <div id="poll-options" class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4" ng-hide="pollTaken">
        <form id="submit-vote" name="voteForm" ng-submit="submitVote(currChoice)"  novalidate>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="option in poll.options track by $index">
              <input type="radio" name="option" value="{{$index}}" id="option{{$index}}" class="list-group-item" ng-model="$parent.currChoice" required/>
              <label for="option{{$index}}">{{option.label}}</label>
            </li>
          </ul>
          <div class="alert" ng-hide="isLoggedIn()">Please <a href="/login">Log in</a> to vote and view results</div>    
          <button type="submit" class="btn btn-success center-block" ng-disabled="voteForm.$invalid || !isLoggedIn()">Vote</button>
        </form>
      </div>
    </div>


    <div id="charts" class="container clearfix" ng-if="pollTaken">
      <div class="row row-eq-height">
        <div class="col-lg-5 col-md-5 col-sm-5">
          <div class="panel panel-default">
            <div class="panel-heading">&nbsp;</div>
            <div class="panel-body">
              <div>
                <canvas tc-chartjs-bar chart-data="barChartData" chart-options="barChartOptions"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5">
          <div class="panel panel-default ">
            <div class="panel-heading">&nbsp;</div>
            <div class="panel-body">
              <div>
                <canvas tc-chartjs-doughnut chart-data="doughnutChartData" chart-options="doughnutChartOptions"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div id="social" class="col-lg-2 col-md-2 col-sm-2">
          <div class="panel panel-default">
            <div class="panel-heading">Share</div>
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item">
                  <button socialshare socialshare-provider="facebook" socialshare-url="{{currUrl}}" socialshare-type="sharer" socialshare-text="Check out this poll!" class="btn-social"><i class="fa fa-facebook"></i>&nbsp;&nbsp;Facebook</button>
                </li>
                <li class="list-group-item">
                  <button socialshare socialshare-provider="twitter" socialshare-url="{{currUrl}}" socialshare-text="Check out this poll!" class="btn-social"><i class="fa fa-twitter"></i>&nbsp;&nbsp;Twitter</button>
                </li>
                <li class="list-group-item">
                  <button socialshare socialshare-provider="pinterest" socialshare-url="{{currUrl}}" socialshare-text="Check out this poll!" class="btn-social"><i class="fa fa-pinterest"></i>&nbsp;&nbsp;Pinterest</button>
                </li>
                <li class="list-group-item">
                  <button socialshare socialshare-provider="reddit" socialshare-url="{{currUrl}}" socialshare-text="Check out this poll!" class="btn-social"><i class="fa fa-reddit"></i>&nbsp;&nbsp;Reddit</button>  
                </li>
                <li class="list-group-item">
                  <button socialshare socialshare-provider="linkedin" socialshare-url="{{currUrl}}" socialshare-text="Check out this poll!" class="btn-social"><i class="fa fa-linkedin"></i>&nbsp;&nbsp;LinkedIn</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div ng-include="'components/footer/footer.html'"></div>  
</div>


