


.input-group {
  margin-top: 5px;
  margin-bottom: 5px;
}


#new-poll {
  .panel {
    margin-bottom: 0;
  }
  #poll-submitted {
    margin: 100px 0;
    h3 {
      text-align: center;
      font-size: 1.5em;
    }
  }
}


form {
  label {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

#add-btn {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

#submit-btn {
  display: block;
  margin: 40px auto 15px auto;
}
