<div ng-include="'components/navbar/navbar.html'"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>New Poll</h3>
          </div>
          <div class="panel-body">
            <form name="newPollForm" ng-submit="submit()" novalidate>
              <label for="question">Poll question</label>
              <input class="form-control" name="question" type="text" id="question" ng-model="poll.question">
              <label>Options</label>
              <div class="input-group" ng-repeat="option in poll.options track by $index">
                <input class="form-control" name="pollChoice" type="text" placeholder="{{option.label}}" ng-model="option.label" required>
                <span class="input-group-addon" ng-click="removeOption($index)">Remove</span>
              </div>
              <button type="button" id="add-btn" class="btn btn-default" ng-click="addOption()">Add option</button>
              <button type="submit" id="submit-btn" class="btn btn-primary" ng-disabled="newPollForm.$invalid">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
<div ng-include="'components/footer/footer.html'"></div>